<%- include('../../partials/header.ejs') %>
<!-- Page Wrapper -->
<div id="wrapper">
  <%- include('../../partials/sidebar.ejs') %>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <%- include('../../partials/navbar.ejs') %>

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <%- include('../../partials/message.ejs') %>
        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Welcome to Camideli's items</h1>


        <% if(action == 'view'){ %>
        
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="show_item"
                data-toggle="tab"
                data-target="#show-item"
                href="#show-item"
                type="button"
                role="tab"
                aria-controls="home"
                aria-selected="true"
              >
                Show Items
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                data-target="#profile"
                type="button"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
              >
                Add Item
              </button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
          <%- include('table.ejs') %>
          <%- include('add_modal.ejs') %>
         
           
            </div>
          </div>
        <% } else if(action == 'show image') { %>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                data-toggle="tab"
                href="#show-image"
                type="button"
                role="tab"
                aria-controls="home"
                aria-selected="true"
              >
                Show Image
              </button>
            </li>
           
          </ul>
          <div class="tab-content" id="myTabContent">
          <%- include('show_image.ejs') %>
         
           
            </div>
          </div>
        <% } else{%>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                data-toggle="tab"
                href="#edit-item"
                type="button"
                role="tab"
                aria-controls="home"
                aria-selected="true"
              >
                Edit Item
              </button>
            </li>
           
          </ul>
          <div class="tab-content" id="myTabContent">
          <%- include('edit_item.ejs') %>
         
           
            </div>
          </div>
        <% } %>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
</div>
<%- include('../../partials/footer.ejs') %>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>



 <%- include('../../partials/js.ejs') %>


<script>
  CKEDITOR.replace( 'about' );
</script>